<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <div class="formulario">
        <h1>Inicio de sesión</h1>
        <form method="post" action="/nowei">
            <div class="username">
                <input type="text" required >
                <label>Nombre de usuario</label>
            </div>
            <div class="contrasena">
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <div class="recordar"><a href="/recordar">¿Olvidó su contraseña?</a></div>
            <input type="submit" value="Iniciar">
            <div class="registrarse"> Quiero hacer el <a href="/registro">registro</a> </div>
        </form>
    </div>
</body>
</html>